$a:rgb(23, 23, 80);
$ahovercolor: #73c5eb;
$bg:white;
$searchbutton: green;
$blue:rgb(47, 0, 255);
$hamburgerbackground:#ced3ed;
$black: #000000;
$shadow:rgba(0, 0, 0, 0.2);
$darkblue: darkblue;
$buttongrey:#bdbdbd;
$purple:#aa39f1;
$carouselinput:aliceblue;
$lightblue:#b3c6ff;
$footerbg:rgb(230, 230, 230);
$footerblue:#37517e;
$footp:#5e5e5e;
$footh4:#37517e;
$footul:#47b2e4;
$footula:#777777;
$red:#ff0000;
$dangerred:#ff001b;
$warning:#fff3cd;
$success:#ceecd5;
$newsletterinput:#495057;
$newsletterinputborder:#ced4da;
//#3838ffc7
$buttonborder:darkgreen;
$color-accent:pink;
$blogbox:#e5e5e5;
$blogcontent:16pt;