@font-face {
    font-family: 'opensans';
    src: url('/assets/fonts/OpenSans-Semibold.ttf');
    font-weight: 700;
}
$fontfamily: "opensans";
$foot14:14px;
$size: 16px;
$nav12:12px;
$nav20:20px;
$pwd:22px;
$footer18:18px;
$footercontent:28px;

